*{
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    font-family: sans-serif;
    background: white;
  }
  
  .container-fluid {
    padding: 16px 16px;
    width: 100%;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  header {
    color: white;
    min-height: 40px;
    background: rgb(104, 162, 243);
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
  }
  
  header nav a:hover {
    height: 60px;
    background: white;
  }

.strip{
    min-height: 600px;
    background-image: url(imges/img1.jpg);
    background-size: cover;
    color: white;
}
.strip .container{
    align-items: flex-end;
    display: flex;
    max-width: 1000px;
    padding: 16px;
    color: white;
}
.main-box{
    align-items: inherit ;
    margin-top: 10vh;
    position: absolute;
    align-self: center;
    margin-left: 40vw;
    justify-content: center;
    color: white;
display: flex;
background: black;
opacity: 0.6;
max-width: 500px;
height: 400px;
}

.box{
    margin-left: 50px;
    padding: 4em;
}
.box2{
    padding: 1em;
    margin-bottom: 10vh;
    margin-right: 100px;
}

h1{
    padding: 8px;
    color: white;
    display: block;
    position: absolute;

}


.btn-primary{
    margin-left: 10px;
    font-size: small;
    background: rgb(104, 162, 243);
}



footer{
    position: sticky;
    display: flex;
    justify-content: center;
    min-height: 400px;
    background: rgb(104, 162, 243);
}
.About{
    color: white;
    margin-top: 6vh;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 300px;
width:100%;
}
.pic{
    text-align: center;
    margin-top: 6vh;
width:100%;
}

img{
    margin:8px 4px;
    }

.reg{
    color: white;
    margin-right: 10vw;
    margin-top: 6vh;
width:100%;
}
h5, h4 {
    color: black
   
}

#email{
    font-size: small;
    width: 150px;
    height: 50px;
    display: block;
}
.btn-secondary{
    background: black;
}
.btn3{
    color: white;
        background: black;
        padding: 1em;
        width: 150px;
}




